body {
	background-image: url("oczy.png");
    background-color: #222222;
	height: 1000px;
    background-position: center;
	font-family: "Georgia", serif;
	font-variant: small-caps;
	letter-spacing: 2px;
	word-spacing: 2px;
}

.table {
    width: 80%;
    height: 200px;
    background-color: #51585e;
	opacity: 0.9;
    font-size: 30px;
    font-family: Caladea;
    color: white;
    margin: auto;
    margin-top: 100px;
    padding: 100px;
}

.buttons > div{
    margin: auto;
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    text-align: center;
}

.buttons {
    margin: auto;
    padding: 15px;
    padding-left: 300px;
    padding-right: 300px;
    position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

a{
    text-decoration: none;
	color: #222222;
	padding-left: 10px;
}

a:hover {
	text-decoration:none;
	color: #51585e
}